[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
lcax = ">=2.2.1"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
